.footer {
  background-color: var(--gray-color);
  text-align: center;
  display: flex;
  gap: 1rem;
  flex-direction: column;
  align-items: center;
}

.footer h2 {
  font-size: 1rem;
  font-weight: 600;
}
.footer ul {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 auto;
  gap: .5rem 2rem;
}